<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mapper.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zm.zhuma.commons.attributes.mapper.AttributeMapper">

	<select id="getAttrMapByKeys" resultType="com.zm.zhuma.commons.attributes.model.Attribute">
		select * from ${tableName}
		<where>
			<if test="objectIds != null and objectIds.size() > 0">
				`object_id` in
				<foreach collection="objectIds" item="id" open="(" separator="," close=")">
					#{id}
				</foreach>
			</if>
			<if test="keys != null and keys.size() > 0">
				and `key` in 
		        <foreach collection="keys" item="key" open="("
		            separator="," close=")">
		            #{key}
		        </foreach>
			</if>
		</where>
	</select>
	
	<select id="getAttrMapByKeyAndValue" resultType="com.zm.zhuma.commons.attributes.model.Attribute">
		select * from ${tableName}
		<where>
			<if test="objectIds != null and objectIds.size() > 0">
				`object_id` in
				<foreach collection="objectIds" item="id" open="(" separator="," close=")">
					#{id}
				</foreach>
			</if>
			<if test="key != null and key != ''">
				and `key` = #{key}
			</if>
			<if test="value != null and value != ''">
				and `value` = #{value}
			</if>
		</where>
	</select>

	<select id="getAttrMapByKeyAndValues" resultType="com.zm.zhuma.commons.attributes.model.Attribute">
		select * from ${tableName}
		<where>
			<if test="key != null and key != ''">
				`key` = #{key}
			</if>
			<if test="values != null and values.size() > 0">
				and `value` in
				<foreach collection="values" item="value" open="(" separator="," close=")">
					#{value}
				</foreach>
			</if>
		</where>
	</select>

	<insert id="addAttrs" useGeneratedKeys="true">
	   insert into ${tableName} (`object_id`,`key`,`value`,`type`,`create_time`) values
	   <foreach collection="attributes" item="item" index="index" separator=",">
	   	(#{item.objectId},#{item.key},#{item.value},#{item.type},now())
	   </foreach>
	</insert>

	<update id="updateAttrs">
		update ${tableName} set `value` = #{attr.value},type = #{attr.type}
		<where>
			<if test="attr.id != null">id = #{attr.id}</if>
			<if test="attr.objectId != null and attr.objectId != ''"> and `object_id` = #{attr.objectId}</if>
			<if test="attr.key != null and attr.key != '' "> and `key` = #{attr.key}</if>
		</where>
	</update>

	<delete id="deleteAttrs">
		delete from ${tableName} where `object_id`=#{objectId}
		<if test="keys != null and keys.size() > 0">
			and `key` in
			<foreach collection="keys" item="key" open="(" separator=","
				close=")">
				#{key}
			</foreach>
		</if>
	</delete>
</mapper>